################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net10.0/PaintERP.AssemblyInfo.cs
/obj/Debug/net10.0/PaintERP.AssemblyInfoInputs.cache
/obj/Debug/net10.0/PaintERP.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net10.0/rpswa.dswa.cache.json
/.vs/PaintERP.slnx/FileContentIndex/080542ea-ff7a-4d56-a4c7-9b1ec13294a9.vsidx
/.vs/PaintERP.slnx/FileContentIndex/40f5e2bf-e43b-45cc-9cb1-018782b50d08.vsidx
/.vs/PaintERP.slnx/FileContentIndex/51308195-1954-45ea-88d3-52899374e254.vsidx
/.vs/PaintERP.slnx/FileContentIndex/9432ee22-ee7c-4578-8b28-36e8b8a80a7d.vsidx
/.vs/PaintERP.slnx/FileContentIndex/c716de0a-fe3d-459b-a92e-df7dd1b2a6e7.vsidx
/.vs/PaintERP.slnx/FileContentIndex/d342aeb6-b46b-4641-abb4-22d76ae5e11c.vsidx
/.vs/PaintERP.slnx/FileContentIndex/e95ba06e-817c-4a63-ac34-17b7160a0fe0.vsidx
/.vs/PaintERP.slnx/FileContentIndex/f937a5af-d098-4f9f-953a-ec82b1fc1714.vsidx
/.vs/PaintERP.slnx/FileContentIndex/4a1a8abf-4aae-4d86-a832-bc4b69171017.vsidx
/.vs/PaintERP.slnx/v18/.suo
/.vs/PaintERP.slnx/FileContentIndex/3ad5c867-74c3-437a-963b-d98e7414beb6.vsidx
/.vs/PaintERP.slnx/FileContentIndex/87e61a77-6ffa-43d0-9ee0-8207c72816e9.vsidx
/.vs/PaintERP.slnx/FileContentIndex/d146e05a-54b5-4164-80ba-d061113ca731.vsidx
*.vsidx
/.vs/PaintERP.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/PaintERP.slnx/FileContentIndex/40f5e2bf-e43b-45cc-9cb1-018782b50d08.vsidx
/.vs/PaintERP.slnx/FileContentIndex/51308195-1954-45ea-88d3-52899374e254.vsidx
/.vs/PaintERP.slnx/FileContentIndex/9432ee22-ee7c-4578-8b28-36e8b8a80a7d.vsidx
/.vs/PaintERP.slnx/FileContentIndex/f937a5af-d098-4f9f-953a-ec82b1fc1714.vsidx
/.vs/PaintERP.slnx/v18/.futdcache.v2
/.vs/PaintERP.slnx/v18/.suo
/.vs/PaintERP.slnx/v18/DocumentLayout.backup.json
/.vs/PaintERP.slnx/v18/DocumentLayout.json
/.vs/ProjectEvaluation/painterp.metadata.v10.bin
/.vs/ProjectEvaluation/painterp.projects.v10.bin
/.vs/ProjectEvaluation/painterp.strings.v10.bin
/bin/Debug/net10.0/appsettings.json
/bin/Debug/net10.0/PaintERP.dll
/bin/Debug/net10.0/PaintERP.exe
/bin/Debug/net10.0/PaintERP.pdb
/bin/Debug/net10.0/PaintERP.staticwebassets.endpoints.json
/bin/Debug/net10.0/PaintERP.staticwebassets.runtime.json
/obj/Debug/net10.0/compressed/kv7hxmm494-{0}-9pm0mdaebg-9pm0mdaebg.gz
/obj/Debug/net10.0/compressed/kv7hxmm494-{0}-tjxz5hmeja-tjxz5hmeja.gz
/obj/Debug/net10.0/ref/PaintERP.dll
/obj/Debug/net10.0/refint/PaintERP.dll
/obj/Debug/net10.0/apphost.exe
/obj/Debug/net10.0/PaintERP.assets.cache
/obj/Debug/net10.0/PaintERP.csproj.CoreCompileInputs.cache
/obj/Debug/net10.0/PaintERP.csproj.FileListAbsolute.txt
/obj/Debug/net10.0/PaintERP.dll
/obj/Debug/net10.0/PaintERP.genruntimeconfig.cache
/obj/Debug/net10.0/PaintERP.pdb
/obj/Debug/net10.0/PaintERP.sourcelink.json
/obj/Debug/net10.0/rbcswa.dswa.cache.json
/obj/Debug/net10.0/rjimswa.dswa.cache.json
/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/obj/Debug/net10.0/staticwebassets.build.json
/obj/Debug/net10.0/staticwebassets.build.json.cache
/obj/Debug/net10.0/staticwebassets.development.json
/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
/obj/PaintERP.csproj.nuget.dgspec.json
/obj/project.assets.json
/obj/project.nuget.cache
